.fw-1 {
  font-weight: 100 !important; 
}
.fw-2 {
  font-weight: 200 !important; 
}
.fw-3 {
  font-weight: 300 !important; 
}
.fw-4 {
  font-weight: 400 !important; 
}
.fw-5 {
  font-weight: 500 !important; 
}
.fw-6 {
  font-weight: 600 !important; 
}
.fw-7 {
  font-weight: 700 !important; 
}
.fw-8 {
  font-weight: 800 !important; 
}

h1 {
  
  padding-bottom: .5rem;
}